%% -*- mode: Erlang; -*-
{require_otp_vsn, "18"}.
{deps, [
  lager,
  ulitos,
  {chatterbox, {git, "https://github.com/joedevivo/chatterbox.git", {branch, "master"}}}
]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warn_unused_vars, warnings_as_errors]},
    {relx, [{dev_mode, false}, {include_erts, true}]}
  ]},
  {test, [
    {deps, [
      meck,
      eunit_formatters,
      erlexec
    ]},
    {erl_opts, [debug_info]}
  ]}  
]}.

{relx, [
  {release, { erlgrpc, "0.0.1"}, [erlgrpc]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

{plugins, [rebar3_gpb_plugin, rebar3_hex]}.

{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}, {parse_transform, lager_transform}]}.

{cover_enabled, true}.

{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}
]}.

{shell, [{config, "files/app.config"}]}.

{clean_files, ["*.eunit", "ebin/*.beam", "specs/*.beam", "specs/logs/*"]}.

{ct_opts, [
  {dir, "specs"},
  {logdir, "specs/logs"},
  {config, "specs/test.config"}
]}.
